@font-face {
    font-family: 'EuclidSquare-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/EuclidSquare-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'EuclidSquare-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/EuclidSquare-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'EuclidSquare-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/EuclidSquare-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'EuclidSquare-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/EuclidSquare-Medium.ttf) format('truetype');
}
  