.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 24px;

    @media #{$tablet} {
        padding: 0 32px;
    }

    @media #{$desktop} {
        padding: 0 64px;
    }
}

.content-inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 24px;

    @media #{$tablet} {
        padding: 0 32px;
    }
    @media #{$laptop-wide} {
        padding: 0 176px;
    }
    @media #{$desktop} {
        padding: 0 216px;
    }
}
* {
    box-sizing: border-box;
}
body {
    @include font('EuclidSquare-Light' , 16px, $text-black);
}

img {
    max-width: 100%; // я у мамы адаптивный, ага.
}

.page-title {
    padding-bottom: 32px;

    @media #{$laptop-wide} {
        padding-bottom: 48px;
    }

    @media #{$desktop} {
        padding-bottom: 64px;

    }
}