.btn {
  @include flex(center, center);
  @include font('EuclidSquare-Medium', 16px, #fff);
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  z-index: 0;
  border-radius: 100px;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: $transition;

  &_accent {
    color: #fff;
    background-color: $accent-color;

    &:hover{
      opacity: 0.9;
      background-color: $text-black;
    }
  }

  &_transparent {
    color: $accent-color;
    background-color: transparent;
    border: 1px solid rgba($accent-color, 0.5);


    &:hover{
      border: 1px solid rgba($accent-color, 1);
    }
  }

}