.documentation {
  .doc {
    margin-bottom: 32px;

    @media #{$desktop} {
      margin-bottom: 48px;
    }

    @media #{$ultra} {
      margin-bottom: 64px;
    }

    &-subtitle {
      display: inline-block;
      font-size: 16px;
      line-height: 120%;
      margin-bottom: 16px;
    }

    &-row {
      @include flex(flex-start, space-between);
      flex-wrap: wrap;

      &_submit {
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
      }
    }

    &-select {
      @include flex (center, flex-start);
      background-color: transparent !important;
    }

    &-field, .nice-select {
      flex-basis: 100%;
      margin-bottom: 16px;
      background: rgba(47, 63, 74, 0.05);
      border-radius: 16px;
      min-height: 56px;
      padding: 20px;
      border: none;
      outline-color: rgba(47, 63, 74, 0.05);

      @media #{$tablet} {
        flex-basis: 49%;
        margin-bottom: 24px;
      }

      @media #{$desktop} {
        flex-basis: 23%;
        margin-bottom: 32px;
      }

      &::placeholder {
        font-size: 16px;
        line-height: 120%;
        color: rgba($text-black, 0.5);
      }

      &.has-error {
        background: rgba(255, 149, 163, 0.1) !important;
        border: 1px solid rgba(255, 149, 163, 0.5) !important;
      }

      &:focus, &:active {

        }
    }

    textarea {
      resize: none;
      min-height: 120px;

      @media #{$tablet} {
        flex-basis: 49%;
      }

      @media #{$desktop} {
        min-height: 200px;
      }
    }

    &-select {
      @include flex (center, flex-start);
      background-color: transparent;
      border: 1px solid rgba($accent-color, 0.5) !important;

      .list li:first-child {
        display: none;
      }

      &:after {
        border-bottom: 2px solid rgba($accent-color, 0.5);
        border-right: 2px solid rgba($accent-color, 0.5);
        width: 10px;
        height: 10px;
        top: 45%;
        right: 20px;
      }

      span {
        font-size: 16px;
        line-height: 120%;
      }

      &.open {
        border-bottom-right-radius:0;
        border-bottom-left-radius:0;
        border-bottom: none !important;
      }

      .nice-select-dropdown {
        border: 1px solid rgba($accent-color, 0.5);
        border-top-right-radius:0;
        border-top-left-radius:0;
        margin-top: 0;
        border-top: none !important;
        box-shadow: none;
        left: -1px !important;
        right: -1px !important;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
      }

      .option:hover, .option.focus, .option.selected.focus {
        background-color: rgba($accent-color, 0.5) !important;
      }

    }

    &-submit {
      max-width: 207px;
      margin-right: 16px;
      height: 56px;
      padding: 20px 32px;
    }

    &-confirm {
      font-size: 12px;
      line-height: 110%;


      &__link, &__link:visited, {
        color: $accent-color;

        &:hover, &:active {
          opacity: 0.7;
        }
      }
    }


  }
}