.partners-profile {
  padding: 32px 0;

  .profile-row {
    @media #{$tablet} {
      @include flex(stretch,flex-start);
      min-height: 328px;

      @media #{$laptop-wide} {
        min-height: 414px;
      }
    }
  }

  .profile-image {
    img {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;

      @media #{$tablet} {
        border-top-right-radius: 0;
        border-bottom-left-radius: 24px;
        min-width: 378px;
      }

      @media #{$laptop} {
        min-width: 520px;
      }


      @media #{$desktop} {
        border-top-right-radius: 0;
        border-bottom-left-radius: 48px;
        border-top-left-radius: 48px;
        min-width: 640px;
      }
    }
  }

  .profile-content {
    @include flex(flex-start, space-between);
    flex-direction: column;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: $text-black;
    color: #fff;
    padding: 32px;
    font-size: 14px;
    line-height: 160%;

    @media #{$tablet} {
      border-bottom-left-radius: 0;
      border-top-right-radius: 24px;
    }

    @media #{$laptop-wide} {
      border-bottom-left-radius: 0;
      border-top-right-radius: 48px;
      border-bottom-right-radius: 48px;
      font-size: 16px;
    }

    @media #{$desktop} {
      font-size: 18px;
    }

    &__title {
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 16px;
      @media #{$laptop-wide} {
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 24px;
      }
      @media #{$desktop} {
        font-size: 32px;
      }
    }

    &__text {
      margin-bottom: 24px;
      @media #{$desktop} {
        margin-bottom: 85px;
      }
      p:not(:last-child) {
        margin-bottom: 16px;
        @media #{$desktop} {
          margin-bottom: 24px;
        }
      }
    }

    &__button {
      @include font('EuclidSquare-Medium', 16px, #fff);
      padding: 16px 36px;
      width: 100%;
      max-width: 278px;

      &:hover {
       background-color: $accent-color;
        opacity: 0.7;
      }

    }
  }


}