<div class="controls-mini">
    <div class="controls-list">
        <a href="#" class="controls-list__link active">Информация</a>
        <a href="#" class="controls-list__link">Заявка на фиксацию</a>
        <a href="#" class="controls-list__link">Войти в личный кабинет</a>
    </div><!-- /.controls-list -->
</div><!-- /.controls-mini -->
<div class="controls-mini mobile">
    <button type="button" class="btn" id="mini-toggler">Информация
        <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.00049 7L10.0005 13L15.0005 7" stroke="#2F3F4A"/>
            </svg>
        </span>
    </button>
    <!-- /.controls-mini__toggler -->
    <div class="controls-list" id="togglerMenu">
        <a href="#" class="controls-list__link">Информация</a>
        <a href="#" class="controls-list__link">Заявка на фиксацию</a>
        <a href="#" class="controls-list__link">Войти в личный кабинет</a>
    </div><!-- /.controls-list -->
</div><!-- /.controls-mini -->