<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-buttons">
                <button role="button" class="btn btn_accent footer-buttons__choice">Выбрать квартиру</button>
                <a class="footer-buttons__tel" href="tel:83431234567">8 (343) 123-45-67</a>
            </div><!-- /.footer-buttons -->
            <nav class="footer-menu">
                <ul class="menu-list">
                    <li class="menu-list__item"><a href="/partners.html" class="menu-list__link">Партнерам</a></li>
                    <li class="menu-list__item"><a href="/" class="menu-list__link">Выдача ключей</a></li>
                    <li class="menu-list__item"><a href="/" class="menu-list__link">Частые вопросы</a></li>
                    <li class="menu-list__item"><a href="/" class="menu-list__link">Запрос документации</a></li>
                </ul><!-- /.menu-list -->
            </nav><!-- /.footer-menu -->
        </div><!-- /.footer-top -->

        <div class="footer-bottom">
            <ul class="bottom-list">
                <li class="bottom-list__item"><a href="/" class="bottom-list__link">«YeCity» 2012-2023</a></li>
                <li class="bottom-list__item"><a href="/" class="bottom-list__link">Политика конфиденциальности</a></li>
                <li class="bottom-list__item"><a href="/" class="bottom-list__link">Юридическая информация о компании</a></li>
            </ul>

            <a href="/" class="bottom-list__madein">
                Сделано в <span>ROSOGROUP</span>
            </a>

        </div><!-- /.container -->
    </div><!-- /.content-inner -->
</footer>