<header class="header">
    <div class="container">
        <div class="row">
            <div class="header-buttons">
                <svg width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="40" height="1" fill="#34B553"/>
                    <rect y="9" width="40" height="1" fill="#34B553"/>
                </svg>

            </div>
            <div class="header-logo">

            </div>
            <div class="header-soc">

            </div>
        </div>
    </div>
</header>