<header class="header">
    <div class="container">
        <div class="header-row">
            <div class="header-buttons">
                <button type="button" class="btn btn_transparent header-buttons__burger">
                    <svg width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="1" fill="#34B553"/>
                        <rect y="9" width="40" height="1" fill="#34B553"/>
                    </svg>
                </button>
                <button type="button" class="btn btn_accent header-buttons__choice">Выбрать квартиру</button>
            </div><!-- /.header-buttons -->

            <div class="header-logo">
                <a href="/"><img src="/assets/img/logo.webp" alt="logo"></a>
            </div><!-- /.header-logo -->

            <div class="header-soc">
                <a class="header-soc__tel mobile" href="tel:83431234567">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_9_2978)">
                            <path d="M27.23 23.26L24.69 22.97C24.08 22.9 23.48 23.11 23.05 23.54L21.21 25.38C18.38 23.94 16.06 21.63 14.62 18.79L16.47 16.94C16.9 16.51 17.11 15.91 17.04 15.3L16.75 12.78C16.63 11.77 15.78 11.01 14.76 11.01H13.03C11.9 11.01 10.96 11.95 11.03 13.08C11.56 21.62 18.39 28.44 26.92 28.97C28.05 29.04 28.99 28.1 28.99 26.97V25.24C29 24.23 28.24 23.38 27.23 23.26Z" fill="#34B553"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_9_2978">
                                <rect width="24" height="24" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <a class="header-soc__tel desktop" href="tel:83431234567">8 (343) 123-45-67</a>
                <a href="/" class="btn btn_transparent header-soc__life desktop">YeCity&nbsp;Life</a>
                <a href="/"  class="btn btn_transparent header-soc__life mobile">
                    <svg width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="1" fill="#34B553"/>
                        <rect y="9" width="40" height="1" fill="#34B553"/>
                    </svg>
                </a>
            </div><!-- /.header-soc -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</header><!-- /header -->